<!DOCTYPE html>
<html>
<head>
    <title><%= article.title %></title>
    <!-- Дополнительные стили и скрипты -->
</head>
<body>
    <h1><%= article.title %></h1>
    <h2><%= article.subtitle %></h2>
    <p><%= article.content %></p>

    <!-- Вывод изображений -->
    <% images.forEach(function(image) { %>
        <img src="/<%= image.file_name %>" alt="Изображение">
    <% }) %>
    <a href="<%= article.link %>"><p><%= article.link %></p></a>
    <!-- Остальная разметка страницы статьи -->
</body>
</html>